/ac_forum_log/
/.idea/
/.vscode/

### --- backend --- ###

/backend/target/
!/backend/.mvn/wrapper/maven-wrapper.jar
!/backend/**/src/main/**/target/
!/backend/**/src/test/**/target/
/backend/.apt_generated
/backend/.classpath
/backend/.factorypath
/backend/.project
/backend/.settings
/backend/.springBeans
/backend/.sts4-cache
/backend/.idea
/backend/*.iws
/backend/*.iml
/backend/*.ipr
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/backend/build/
!/backend/**/src/main/**/build/
!/backend/**/src/test/**/build/
/backend/.vscode/
/backend/src/main/resources/application.yml
/backend/src/main/resources/application-dev.yml
/backend/src/main/resources/application-pre.yml